# STUDENT PERFORMANCE INDICATOR

## LIFE CYCLE OF MACHINE LEARNING PROJECT

* Understanding the Problem Statement
* Data Collection
* Data checks to perform
* Exploratory Data Analysis
* Data Pre-Processing
* Model Training
* Choose the Best Model

## 1. PROBLEM STATEMENT

*  To understand the how the student performance (test scores) is affected by other variables such as Gender, Ethinicity, Parental level of Education, test preparation courses.

## 2. DATA COLLECTION

* Data Source: https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?datasetId=74977
* Dataset contains 8 columns and 1000 rows

## Importing Pandas, Numpy, MatplotLib, Seaborn library

In [8]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline
import seaborn as sns

## Import the CSV dataset as Pandas DataFrame

In [ ]:
data = pd.read_csv("notebook/data/stud.csv")

## Displaying the first 5 records

In [7]:
data.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## Shape of the dataset

In [11]:
data.shape

(1000, 8)

## DATASET INFORMATION

* Gender: Male/Female
* Race/Ethinicity: Ethinicity of Students -> Group A, B, C, D, E
* Parental Level Of Education: Parent's education level or degree -> Bachelor's degree, some college, master's degree, associate degree, high school, some high school
* Lunch: standard

In [12]:
data.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

In [15]:
data.lunch.unique()

array(['standard', 'free/reduced'], dtype=object)